<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yeebee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.InterviewListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MessageActivity">
        </activity>
        <activity android:name=".activity.home.LoginActivity">
        </activity>
        <activity android:name=".activity.home.ResetPwdActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".activity.home.SplashActivity">
        </activity>
        <activity android:name=".activity.ProjectInformationActivity">
        </activity>
        <activity android:name=".activity.QuestionActivity">
        </activity>
        <activity android:name=".activity.home.RegistActivity">
        </activity>
        <activity android:name=".ActionSheetActivity">
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
    </application>

</manifest>